
.profilePic {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.header {
    object-fit: cover; 
    height: 108px;
}

.title {
    font-size: 32px;
}

.subtitle {
    color: #4a9eff;
    font-size: 24px;
}

.name {
    color: #3067ff;
}